<div class="featured-services-block container">
	<h3>Featured Services</h3>
	<hr class="breaker" style="margin-left: 0;border-color:rgb(56, 133, 87);">
	<div class="row">
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				Service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				Service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				Service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				Service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="col-md-4 service-item">
			<div class="service-item-inner">
				Service <i class="fa fa-arrow-right" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>