<div class="hero-search-block">
	<div class="container">
		<div class="row hero-search-block-intro">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1>Welcome to the DEMO.gov</h1>
				<h4>What would you like to do?</h4>
				<div class="search-input-container">
					<div class="input-group">
						<input type="text" id="sitesearch" class="hero-search-input" placeholder="This is not a working search">
						<span class="input-group-btn">
							<button class="btn" type="button">Search</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row hero-popular-search text-center">
			<h3 class="text-center">Popular Searches</h3>
			<hr class="breaker">
			<div class="col-md-6">
				<p>Renew your vehicle registration <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
				<p>Apply for SNAP benefits (food stamps) <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
				<p>list one <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
				<p>list one <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
			</div>
			<div class="col-md-6">
				<p>Apply for DemoHealth </p>
				<p>Apply for unemployment benefits <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
				<p>list two <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
				<p>list two <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
			</div>
		</div>
	</div>
</div>